# TODO after install, replace <USER>, <DIR> and <WDIR> with actual values

[Unit]
Description=Button panel for controlling audio and light
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=30

[Service]
Environment="RUST_BACKTRACE=1"
Environment="RUST_LOG=warn,control=debug"
WorkingDirectory=<DIR>
ExecStart=<DIR>/button_panel /dev/ttyUSB0 127.0.0.1
ExecStop=/bin/kill -s SIGKILL $MAINPID
User=<USER>
Group=<USER>
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
