# TODO after install, replace <USER>, <DIR> and <WDIR> with actual values

[Unit]
Description=(DEV) Button panel for controlling audio and light
After=network-online.target
Wants=network-online.target
OnFailure=button_panel.service

[Service]
Environment="RUST_BACKTRACE=1"
Environment="RUST_LOG=warn,control=debug"
WorkingDirectory=<DIR>
ExecStart=<DIR>/button_panel_dev /dev/ttyUSB1 127.0.0.1
ExecStop=/bin/kill -s SIGKILL $MAINPID
SuccessExitStatus=SIGKILL
User=<USER>
Group=<USER>

[Install]
WantedBy=multi-user.target
