# TODO after install, replace <USER>, <DIR> and <WDIR> with actual values

[Unit]
Description=Button panel for controlling audio and light
After=network-online.target
Wants=network-online.target

[Service]
Environment="RUST_BACKTRACE=1"
WorkingDirectory=<DIR>
ExecStart=<DIR>/button_panel /dev/ttyUSB1 127.0.0.1
ExecStop=/bin/kill -s SIGKILL $MAINPID
User=<USER>
Group=<USER>
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
